---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Contattaci" description="Contatta Limolo per informazioni e prenotazioni. Siamo qui per aiutarti a pianificare la tua vacanza green in Sardegna.">
  <h1>Contactez-nous</h1>
</Layout>   