---
import { MARIE_EMMANUELLE_PY_EN } from '../../../consts';
import Layout from '../../../layouts/Layout.astro';
---

<Layout
  title={MARIE_EMMANUELLE_PY_EN.TITLE}
  metaTitle={MARIE_EMMANUELLE_PY_EN.METATITLE}
  metaDescription={MARIE_EMMANUELLE_PY_EN.METADESCRIPTION}
  lang="en"
  alternateUrls={{
    fr: '/equipe-all-leaders/marie-emmanuelle-py',
    en: '/en/team-all-leaders/marie-emmanuelle-py',
  }}
>
  <div class="profile-card">
    <img
      class="img-profile"
      src="/images/pages/marie-emmanuelle-py.webp"
      alt="Photo of Marie Emmanuelle PY"
    />
    <h1>Marie Emmanuelle PY</h1>
    <h2>FOUNDING PARTNER</h2>
    <ul>
      <li><a href="mailto:me@all-leaders.fr">me@all-leaders.fr</a> | +33 6 03 55 54 52</li>
      <li>
        Profile on <a href="https://www.linkedin.com/in/mepy/" target="_blank" rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li>
        Private practice: <a
          href="https://marie-emmanuelle-py.fr"
          target="_blank"
          rel="noopener noreferrer">marie-emmanuelle-py.fr</a
        >
      </li>
    </ul>
    <p>
      Former naval officer and trained engineer who became a coach out of conviction, Marie Emmanuelle
      supports professionals (leaders, managers and their teams) and individuals in achieving their
      objectives sustainably.
    </p>

    <p>
      In organizations, she intervenes at the intersection of meaning and performance. Specialist in
      high-reliability environments, Marie Emmanuelle emphasizes team spirit and collective
      intelligence, in a resolutely humanistic and appreciative approach.
    </p>
    <p>
      She advocates for <b>learning through action</b>, in virtual reality or in an immersive way,
      enabling individuals and teams to <b
        >build their own solutions in alignment of head-heart-body in motion.</b
      >
    </p>
    <p>
      She also delivers conferences on these topics (leadership, collective performance, team spirit,
      crisis management, change management, women's leadership), within the <a
        href="https://bureaudureel.fr"
        target="_blank"
        rel="noopener noreferrer">BUREAU DU RÉEL</a
      > of which she is co-founder.
    </p>
    <p>
      Teacher at the reference coaching school <a
        href="https://transformancepro.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        TRANSFORMANCE PRO</a
      >, she is also a coach supervisor and trains internal managers and coaches.
    </p>

    <p>
      Also a member of the multinational network of <a
        href="https://enablersnetwork.com/"
        target="_blank"
        rel="noopener noreferrer">ENABLERS</a
      >, she supports leaders in their navigation through significant strategic and cultural
      changes.
    </p>

    <p class="italic infos">
      <b>Marie Emmanuelle PY in a few words:</b><br />Atomic Engineering graduate, she is certified
      in Executive Coaching (Transformance Pro / Coach&Team – Vincent Lenhardt).<br />
      Ecole Navale engineer (1993), Atomic Engineering graduate (INSTN, 2000)<br />Professional
      coach certified RNCP Transformance Pro / Coach&Team (Vincent Lenhardt, 2020), Certified in
      Human Element (2019) and Appreciative Inquiry (IFAI, 2022).<br />
      Existential analysis and logotherapist (philosophy of meaning and clinical applications) (EFrATE,
      2022)
    </p>
    <p>
      Marie Emmanuelle lives in Paris and operates throughout Europe.<br />
      She is the happy mother of 4 children, passionate about sailing, kitesurfing and Argentine
      tango.
    </p>
  </div>
</Layout>

<style>
  .profile-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) {
    .profile-card {
      text-align: left;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #666;
  }

  ul li {
    text-align: center;
    font-size: 1rem;
    color: #333;
  }

  ul {
    padding-bottom: 2rem;
  }

  .infos {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    color: #555;
    line-height: 1.2em;
    max-width: 35rem;
  }
</style>
