---
import Layout from '../../../layouts/Layout.astro';
---

<Layout
  title="Marie Emmanuelle PY - All Leaders Initiative"
  metaTitle="Marie Emmanuelle PY - All Leaders Initiative"
  metaDescription="Discover the background and expertise of Marie Emmanuelle PY, founding partner at All Leaders Initiative, specializing in supporting individuals and teams in organizations with a humanistic and appreciative approach."
  lang="en"
  alternateUrls={{ fr: '/equipe-all-leaders/marie-emmanuelle-py', en: '/en/team-all-leaders/marie-emmanuelle-py' }}
>
  <div class="profile-card">
    <img
      class="img-profile"
      src="/images/pages/marie-emmanuelle-py.webp"
      alt="Photo of Marie Emmanuelle PY"
    />
    <h1>Marie Emmanuelle PY</h1>
    <h2>FOUNDING PARTNER</h2>
    <ul>
      <li><a href="mailto:me@all-leaders.fr">me@all-leaders.fr</a> | +33 6 03 55 54 52</li>
      <li>Profile on <a href="https://www.linkedin.com/in/mepy/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      <li>Private practice: navigam.fr</li>
    </ul>
    <p>
      Former naval officer and trained engineer who became a coach out of conviction, Marie Emmanuelle PY supports individuals and teams in their questions by placing at the heart of her work the expression of their freedom, their responsibility and their commitment.
    </p>

    <p>
      In organizations, she works primarily in the areas of meaning and psychological safety. Her approach is resolutely humanistic and appreciative.
    </p>

    <p>
      She advocates for <b>learning through action</b>, in virtual reality or in an immersive way, enabling individuals and teams to <b>build their own solutions in alignment of head-heart-body in motion.</b>
    </p>

    <p>
      A member of the multinational network of ENABLERS, she supports leaders in their navigation through significant strategic and cultural changes.
    </p>

    <p>
      She welcomes professionals and individuals at Navigam, her private practice, who wish to specifically collaborate with her, in complete confidentiality, in a privileged relationship.
    </p>

    <div class="infos italic">
      <b>Marie Emmanuelle PY in a few words:</b><br />With a degree in Atomic Engineering, she is certified and now a trainer in Executive Coaching (Transformance Pro / Coach&Team – Vincent Lenhardt). She is also an Existential Analyst and Logotherapist (V. Frankl).
    </div>
  </div>
</Layout>

<style>
  .profile-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) {
    .profile-card {
      text-align: left;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #666;
  }

  ul li {
    text-align: center;
    font-size: 1rem;
    color: #333;
  }

  ul {
    padding-bottom: 2rem;
  }

  .infos {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    color: #555;
  }
</style>
