---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Page Not Found - All Leaders"
  lang="en"
  metaTitle="Error 404 - Page Not Found"
  metaDescription="Error 404 - This page does not exist on all-leaders.fr"
>
  <div class="flex flex-col items-center justify-center h-[70vh]">
    <h1 class="text-6xl font-bold mb-4">Error 404</h1>
    <p class="text-xl mb-8">The page you are looking for does not exist</p>
    <a href="/en" class="px-6 py-3 text-white rounded btn-limolo"> Back to home </a>
  </div>
</Layout>
