---
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/UI/Container.astro';
---

<Layout
  title="Cookies Policy"
  metaTitle="Cookies Policy - All Leaders Initiative"
  metaDescription="Information about cookies and similar technologies used on our website."
  lang="en"
  alternateUrls={{ fr: '/cookies', en: '/en/cookies' }}
>
  <Container>
    <div class="max-w-4xl mx-auto py-6">
      <h1 class="pt-[12vh] pb-6">Cookies Policy</h1>
      <h2>We are cookie-free!</h2>
    </div>
  </Container>

  <style>
    h2 {
      font-size: 2rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.75rem;
    }

    ul li {
      text-align: center;
    }
  </style>
</Layout>
