---
import { RESOURCES_EN } from '../../consts';
import Layout from '../../layouts/Layout.astro';
import BlogSection from '../../components/Blog.astro';
---

<Layout
  title={RESOURCES_EN.TITLE}
  metaTitle={RESOURCES_EN.METATITLE}
  metaDescription={RESOURCES_EN.METADESCRIPTION}
  lang="en"
  alternateUrls={{ fr: '/ressources', en: '/en/resources' }}
>
  <div class="mx-auto px-4 py-12">
    <h1 class="text-limolo-green mb-8 text-center">Resources</h1>
    <h2>
      Our articles and resources from <span class="brand-text">
        ALL <span class="leaders">LE<span class="stylized-a">A</span>DERS</span>
        <span class="thin">INITIATIVE</span>
      </span>
    </h2>
    <!-- Blog Component -->
    <BlogSection lang="en" fullBleed={true} />
  </div>
</Layout>

<style>
  h1 {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  h2 {
    margin: 0 !important;
    padding: 0 0 1rem !important;
    max-width: 100%;
    text-align: center;
    font-size: large;
  }
  h2 .brand-text .stylized-a {
    height: 0.78em;
    vertical-align: -0.215em;
  }
</style>
