---
import Layout from '../../layouts/Layout.astro';
import BlogSection from '../../components/Blog.astro';
---

<Layout
  title="Resources"
  metaTitle="Resources - All Leaders"
  metaDescription="Discover our articles and resources on leadership, psychological safety, and organizational development."
  lang="en"
>
  <div class="mx-auto px-4 py-12">
    <h1 class="text-limolo-green mb-8 text-center">Resources</h1>
    <h2>
      Our articles and resources from <span class="brand-text">
        ALL <span class="leaders">LEADERS</span>
        <span class="thin">INITIATIVE</span>
      </span>
    </h2>
    <!-- Blog Component -->
    <BlogSection lang="en" fullBleed={true} />
  </div>
</Layout>

<style>
  h1 {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  h2 {
    margin: 0 !important;
    padding: 0 0 1rem !important;
    max-width: 100%;
    text-align: center;
    font-size: large;
  }
</style>
