---
import Layout from '../../../src/layouts/Layout.astro';
---

<Layout
  title="Marie Emmanuelle PY - All Leaders Initiative"
  metaTitle="Marie Emmanuelle PY - All Leaders Initiative"
  metaDescription="Découvrez le parcours et l'expertise de Marie Emmanuelle PY, associée fondatrice de All Leaders Initiative, spécialisée dans l'accompagnement des particuliers et des équipes en entreprise, avec une approche humaniste et appréciative."
  lang="fr"
>
  <div class="profile-card">
    <img
      class="img-profile"
      src="/images/pages/marie-emmanuelle-py.webp"
      alt="Photo de Marie Emmanuelle PY"
    />
    <h1>Marie Emmanuelle PY</h1>
    <h2>ASSOCIÉE FONDATRICE</h2>
    <ul>
      <li><a href="mailto:me@all-leaders.fr">me@all-leaders.fr</a> | +33 6 03 55 54 52</li>
      <li>Profil <a href="https://www.linkedin.com/in/mepy/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      <li>Cabinet privé : navigam.fr</li>
    </ul>
    <p>
      Ancien officier de marine, ingénieur de formation devenue coach par conviction, Marie
      Emmanuelle PY accompagne les particuliers et les équipes dans leurs questionnements en mettant
      au cœur de leur travail l’expression de leur liberté, leur responsabilité et leur engagement.
    </p>

    <p>
      En entreprise, elle intervient principalement dans les domaines du sens et de la sécurité
      psychologique. Son approche est résolument humaniste et appréciative.
    </p>
    <p>
      Elle prône <b>l’apprentissage par l’action</b>, en réalité virtuelle ou de manière immersive,
      permettant aux individus et équipes de <b
        >construire leurs propres solutions dans un alignement tête-coeur-corps en mouvement.</b
      >
      <p>
        Membre du réseau multinational des ENABLERS, elle accompagne les dirigeants dans leur
        navigation au travers de changements stratégiques et culturels importants.
      </p>
      <p>
        Elle accueille chez Navigam, son cabinet privé, les professionnels et particuliers
        souhaitant spécifiquement collaborer avec elle, en toute confidentialité, dans une relation
        privilégiée.
      </p>
      <div class="infos italic">
        <b>Marie Emmanuelle PY en quelques mots :</b><br />Ingénieur en Génie Atomique, elle est
        certifiée et maintenant formatrice en Executive Coaching (Transformance Pro / Coach&Team –
        Vincent Lenhardt). Elle est également Analyste Existentielle et Logothérapeute (V. Frankl)
      </div>
    </p>
  </div>
</Layout>

<style>
  .profile-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) {
    .profile-card {
      text-align: left;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #666;
  }

  ul li {
    text-align: center;
    font-size: 1rem;
    color: #333;
  }

  ul {
    padding-bottom: 2rem;
  }

  .infos {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    color: #555;
  }
</style>
