---
import { MARIE_EMMANUELLE_PY } from '../../consts';
import Layout from '../../../src/layouts/Layout.astro';
---

<Layout
  title={MARIE_EMMANUELLE_PY.TITLE}
  metaTitle={MARIE_EMMANUELLE_PY.METATITLE}
  metaDescription={MARIE_EMMANUELLE_PY.METADESCRIPTION}
  lang="fr"
  alternateUrls={{
    fr: '/equipe-all-leaders/marie-emmanuelle-py',
    en: '/en/team-all-leaders/marie-emmanuelle-py',
  }}
>
  <div class="profile-card">
    <img
      class="img-profile"
      src="/images/pages/marie-emmanuelle-py.webp"
      alt="Photo de Marie Emmanuelle PY"
    />
    <h1>Marie Emmanuelle PY</h1>
    <h2>ASSOCIÉE FONDATRICE</h2>
    <ul>
      <li><a href="mailto:me@all-leaders.fr">me@all-leaders.fr</a> | +33 6 03 55 54 52</li>
      <li>
        Profil <a href="https://www.linkedin.com/in/mepy/" target="_blank" rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li>
        Cabinet privé : <a
          href="https://marie-emmanuelle-py.fr"
          target="_blank"
          rel="noopener noreferrer">marie-emmanuelle-py.fr</a
        >
      </li>
    </ul>
    <p>
      Ancien officier de marine, ingénieur de formation devenue coach par conviction, Marie
      Emmanuelle accompagne les professionnels (dirigeants, managers et leurs équipes) et
      particuliers à atteindre leurs objectifs de manière durable.
    </p>

    <p>
      En entreprise, elle intervient à la croisée du sens et de la performance. Spécialiste des
      environnements à haute fiabilité, Marie Emmanuelle met en avant l'esprit d'équip(ag)e et
      l'intelligence collective, dans une approche résolument humaniste et appréciative.
    </p>
    <p>
      Elle prône <b>l’apprentissage par l’action</b>, en réalité virtuelle ou de manière immersive,
      permettant aux individus et équipes de <b
        >construire leurs propres solutions dans un alignement tête-coeur-corps en mouvement.</b
      >
    </p>
    <p>
      Elle intervient également en conférences sur ces sujets (leadership, performance collective,
      esprit d’équipage, gestion de crise, accompagnement du changement, leadership féminin), au
      sein du <a href="https://bureaudureel.fr" target="_blank" rel="noopener noreferrer"
        >BUREAU DU RÉEL</a
      > dont elle est co-fondatrice.
    </p>
    <p>
      Enseignante au sein de l’école de coaching de référence <a
        href="https://transformancepro.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        TRANSFORMANCE PRO</a
      >, elle est également superviseur de coachs et forme des managers et coachs internes.
    </p>

    <p>
      Également membre du réseau multinational des <a
        href="https://enablersnetwork.com/"
        target="_blank"
        rel="noopener noreferrer">ENABLERS</a
      >, elle accompagne les dirigeants dans leur navigation au travers de changements stratégiques
      et culturels importants.
    </p>

    <p class="italic infos">
      <b>Marie Emmanuelle PY en quelques mots :</b><br />Ingénieur en Génie Atomique, elle est
      certifiée en Executive Coaching (Transformance Pro / Coach&Team – Vincent Lenhardt).<br />
      Ingénieur Ecole Navale (1993), ingénieur en génie atomique (INSTN, 2000)<br />Coach
      professionnelle certifiée RNCP Transformance Pro / Coach&Team (Vincent Lenhardt, 2020),
      Certifiée en Elément Humain (2019) et en Appreciative Inquiry (IFAI, 2022).<br />
      Analyse existentielle et logothérapeute (philosophie du sens et applications cliniques) (EFrATE,
      2022)
    </p>
    <p>
      Marie Emmanuelle habite Paris et intervient partout en Europe.<br />
      Elle est l’heureuse mère de 4 enfants, passionnée par la navigation à voile, le kitesurf et le tango
      argentin.
    </p>
  </div>
</Layout>

<style>
  .profile-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 768px) {
    .profile-card {
      text-align: left;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 2rem 0 0.5rem 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #666;
  }

  ul li {
    text-align: center;
    font-size: 1rem;
    color: #333;
  }

  ul {
    padding-bottom: 2rem;
  }

  .infos {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    color: #555;
    line-height: 1.2em;
    max-width: 35rem;
  }
</style>
