---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Page non trouvée - All Leaders"
  lang="fr"
  metaTitle="Erreur 404 - Page non trouvée"
  metaDescription="Erreur 404 - Cette page n'existe pas sur all-leaders.fr"
>
  <div class="flex flex-col items-center justify-center h-[70vh]">
    <h1 class="text-6xl font-bold mb-4">Erreur 404</h1>
    <p class="text-xl mb-8">La page que vous recherchez n'existe pas</p>
    <a href="/" class="px-6 py-3 text-white rounded btn-limolo"> Retour à l'accueil </a>
  </div>
</Layout>
