---
import Layout from '../layouts/Layout.astro';
import Container from '../components/UI/Container.astro';
import { COOKIES } from '../consts';
---

<Layout
  title={COOKIES.TITLE}
  metaTitle={COOKIES.METATITLE}
  metaDescription={COOKIES.METADESCRIPTION}
  alternateUrls={{ fr: '/cookies', en: '/en/cookies' }}
>
  <Container>
    <div class="max-w-4xl mx-auto py-6">
      <h1 class="pt-[12vh] pb-6">Politique des cookies</h1>
      <h2>Nous n'utilisons pas de cookies !</h2>
    </div>
  </Container>
</Layout>

<style>
  h2 {
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  ul li {
    text-align: center;
  }
</style>
