---
import Layout from '../layouts/Layout.astro';
import ActionBar from '../components/ActionBar.astro';
import BlogSection from '../components/Blog.astro';
---

<Layout
  title="Blog - All Leaders"
  metaTitle="Blog - All Leaders"
  metaDescription="Découvrez nos articles sur le tourisme responsable, la durabilité et la Sardaigne authentique."
  lang="fr"
>
  <div class="mx-auto px-4 py-12">
    <h1 class="font-serif text-limolo-green mb-8 text-center">Ressources</h1>
    <h2>Nos articles et ressources de All Leaders Initiative</h2>
    <!-- Blog Component -->
    <BlogSection lang="fr" fullBleed={true} />
  </div>

  <ActionBar />
</Layout>

<style>
  h1 {
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  h2 {
    margin: 0 !important;
    padding: 0 0 1rem !important;
    max-width: 100%;
    text-align: center;
    font-size: large;
  }
</style>
