---
import Layout from '../../../layouts/Layout.astro';
---

<Layout
  title="Pierre-Etienne BOST - All Leaders Initiative"
  metaTitle="Pierre-Etienne BOST - All Leaders Initiative"
  metaDescription="Discover the background and expertise of Pierre-Etienne BOST, founding partner at ALL Leaders Initiative, specializing in supporting individual and collective development in organizations."
  lang="en"
>
  <div class="profile-card">
    <img
      class="img-profile"
      src="/images/pages/pierre-etienne-bost.webp"
      alt="Photo of Pierre-Etienne BOST"
    />
    <h1>Pierre-Etienne BOST</h1>
    <h2>FOUNDING PARTNER</h2>

    <ul>
      <li><a href="mailto:pe@all-leaders.fr">pe@all-leaders.fr</a> | +33 6 85 54 05 11</li>
      <li>
        Profile on <a
          href="https://www.linkedin.com/in/pebost/#"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        >
      </li>
    </ul>

    <p>
      Pierre-Etienne is committed to supporting individual and collective development in organizations as a consultant and certified professional coach.
    </p>

    <p>
      With 25 years of experience, he has held responsibilities in large groups – Bouygues, Telecom, Alcatel, American Express, Ingenico… – and in entrepreneurship, which has given him <b>unique experience with diverse activities and managerial cultures, always with a strong dimension of <b>transformation</b></b>.
    </p>

    <p>
      He has the particularity of combining <b>expertise in research and measurement</b> – he is currently Research Director of the HR / Management division at the <a
        href="https://www.opinionway.com"
        target="_blank"
        rel="noopener noreferrer">OpinionWay</a
      > institute – with experience in supporting organizations, teams and individuals (managers and executives), in the sense of "collective development through evidence".
    </p>

    <p>
      He complements these experiences with <b>training and practice in therapeutic coaching</b> (Gestalt therapy of connection) which he puts at the service of finding a <b>healthy and sustainable relationship to work</b>, aligned with the economic and human challenges of organizations.
    </p>
  </div>

  <div class="infos">
    <b>Pierre-Etienne BOST in a few words:</b><br /> Pierre-Etienne BOST holds a degree from Sciences Po Paris and a Master's degree in Marketing Research and Strategy; he is notably certified in Executive Coaching (Transformance Pro / Coach&Team – Vincent Lenhardt); Gestalt Practitioner (Gestalt Therapy of Connection – Cycle 2, Institut Champ-G). He is also a certified trainer in mental health first aid (PSSM France).
  </div>

  <style>
    .profile-card {
      max-width: 800px;
      margin: 2rem auto;
      padding: 2rem;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @media (min-width: 768px) {
      .profile-card {
        text-align: left;
      }
    }

    h1 {
      font-size: 2.5rem;
      margin: 2rem 0 0.5rem 0;
      padding: 0;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
      color: #666;
    }

    ul li {
      text-align: center;
      font-size: 1rem;
      color: #333;
    }

    ul {
      padding-bottom: 2rem;
    }

    .infos {
      font-size: 0.75rem;
      margin-bottom: 1.5rem;
      color: #555;
    }
  </style>
</Layout>
